body{
    text-align: center;
}
input[type=text]{
    width: 50%;
    padding: 10px 20px;
    font-size: 1rem;
    margin: 20px 0;
    box-sizing: border-box;
    background-color: seagreen;
    border: 3px solid salmon;
    border-radius: 5px;
}
#search{
    background-image: url("images/search.png");
    background-repeat: no-repeat;
    background-position: 8px 15px;
    font-size: 1rem;
    padding: 15px 40px;
    background-color: white;
    width: 150px;
    transition: width o.3s ease-in-out;
}
#search:focus{
    background-color: sienna;
    width: 100%;
}
textarea{
    resize: none;
    width: 55%;
    padding: 0px;
    border: 3px gray solid;
    border-radius: 10px;

}
input[type="btn"], input[type="rct"]{
    width: 100px;
    border: 3px solid gray;
    border-radius: 10px;
    background-color: indianred;
    color: white;
    cursor: pointer;
    text-align: center;
}


select{
    width: 100px;
    border: 3px solid gray;
    border-radius: 10px;
    background-color: indianred;
    color: white;
    cursor: pointer;
    text-align: center;
    margin-bottom: 20px;
    
}
















